.flex{
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border: 3px solid turquoise;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid;
    display: flex;
}

.w{
    width: 170px;
    height: 50px;
    margin-left: 10px;
    border-radius: 0 40px 0 40px;
}
.e{
    width: 160px;
    margin-left: 10px;
    height: 50px;
    border-radius: 40px 0 40px 0;
}

.father{
    display: flex;
    margin-left: 320px;
    margin-top: 50px;
}
.dflex{
    width: 160px;
    height: 50px;
    background: rgba(50, 192, 29, 0.919);
    border: none;
    margin-left: 10px;
    color: #fff;
    border-radius: 10px;
}
.dflex:hover{
    box-shadow: 0px 0px 30px 0px rgba(50, 192, 29, 0.919);
    transition: .3s;
}

.w:hover{
    box-shadow: 0px 0px 20px 0px blue;
    transition: .3s;
    border-radius: 10px;
    background: blue;
    color: #fff;
    border: none;
}
.e:hover{
    box-shadow: 0px 0px 20px 0px red;
    transition: .3s;
    border-radius: 10px;
    background: red;
    color: #fff;
    border: none;
}




@media (max-width: 575px){
    .flex {
        width: 693px;
        height: 544px;
        margin-left: 107px;
        margin: auto;
        margin-top: 100px;
        border: 3px solid turquoise;
    }
    .w {
        width: 190px;
        height: 66px;
        margin-top: 7px;
        margin-right: 25px;
        border-radius: 0 40px 0 40px;
    }
    .e {
        width: 190px;
        height: 66px;
        margin-top: 7px;
        margin-left: 70px;
        border-radius: 40px 0 40px 0;
    }
    .father {
        display: flex;
        margin-left: 90px;
        margin-top: 50px;
    }
}