*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://avatars.mds.yandex.net/i?id=acc380914a7d176305665e2a5ba6f18a-5419040-images-thumbs&n=13);
    background-size: cover;
    background-repeat: no-repeat;
}